name: Docker image CI

on:
  push:
    branches:
      - main
    paths:
      - '.github/**'
      - '8.1/**'
      - '8.2/**'
      - '8.3/**'
  schedule:
    - cron: '0 1 * * 6'
  workflow_dispatch:

jobs:
  build-docker-images:
    runs-on: [ubuntu-24.04]

    strategy:
      fail-fast: false
      matrix:
        version: [8.1-bullseye, 8.2-bullseye, 8.3-bullseye]
        include:
          - version: 8.1-bullseye
            docker-context: 8.1/debian/apache/default
            docker-tags: |
              nicoherbigde/symfony-php:8.1-apache
              nicoherbigde/symfony-php:8.1-apache-bullseye
              nicoherbigde/symfony-php:8.1.31-apache
              nicoherbigde/symfony-php:8.1.31-apache-bullseye
          - version: 8.2-bullseye
            docker-context: 8.2/debian/apache/default
            docker-tags: |
              nicoherbigde/symfony-php:8.2-apache
              nicoherbigde/symfony-php:8.2-apache-bullseye
              nicoherbigde/symfony-php:8.2.25-apache
              nicoherbigde/symfony-php:8.2.25-apache-bullseye
          - version: 8.3-bullseye
            docker-context: 8.3/debian/apache/default
            docker-tags: |
              nicoherbigde/symfony-php:8.3-apache
              nicoherbigde/symfony-php:8.3-apache-bullseye
              nicoherbigde/symfony-php:8.3.13-apache
              nicoherbigde/symfony-php:8.3.13-apache-bullseye

    steps:
      - name: Checkout Git Repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image and Push it to Docker Hub
        uses: docker/build-push-action@v6
        with:
          context: ${{ matrix.docker-context }}
          no-cache: true
          pull: true
          push: true
          tags: ${{ matrix.docker-tags }}
